$font: "Montserrat", sans-serif;

//Breakpoints
$desktop: "1367px";
$laptop: "1220px";
$medium: "1025px";
$tablet: "770px";
$mobile: "451px";

//colors
$primary: #019BF1;
$secondary: #02274b;
$tertiary: #1c82ad;
$primary-dark: #00337c;
$white: #ffffff;
$black: #1B262C;
$background-white:#F8F8F8;
