.ant-select-selector:hover {
    border-color: #d1d2d4 !important; 
    box-shadow: none !important; 
}

/* Estado de seleccionado al hacer clic o enfocar */
.ant-select-focused .ant-select-selector,
.ant-select-selector:focus {
    border-color: #c0c3c9 !important; 
    box-shadow: 0 0 0 2px rgba(202, 207, 216, 0.5) !important;
}




  
  
  